<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
      <div id="headerWrap">
            <div class="header">
                  <h1 class="logo">
                        Analyst
                  </h1>
                  <ul class="menubar">
                        <li>
                              <a href="">Sign In</a>
                        </li>
                        <li class="signUp">
                              <a href="">Sign Up</a>
                        </li>
                        <li class="github">
                              <img src="static/image/githubIcons.png" alt="from Dave Gandy github Icon" width="35" height="35"
                                    onclick="window.open('https://github.com/yeongji-kim');"
                              />
                        </li>
                  </ul>
            </div>
      </div>
      <div class="clear"></div>
</html>