<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
      <div id="headerWrap">
            <div class="header">
                  <h1 class="logo">
                        Analyst
                  </h1>
                  <ul class="menubar">
                        <li>Home</li>
                        <li>join</li>
                  </ul>
            </div>
      </div>
      <div class="clear"></div>
</html>